$gray:  #e5e5e5;
$yellow: #E8C300;
$input: rgba(51, 51, 51, 0.75);

.book_input{
    background-color: $gray;
    font-weight: 400;
    font-size: 0.6rem;
    border-radius: 5px;
    border: 0px;
    width: 13rem;
    height: 60px;
    padding-left: 15px;
    color: $input;
    border: 1px solid rgba(51, 51, 51, 0);
}

.book_input:focus{
    background-color: #fff;
    border-color: $yellow;
    outline: none;
}



.book_input--select{
    width: 13.75rem;
    background-color: $gray;
    font-weight: 400;
    font-size: 0.6rem;
    border-radius: 5px;
    border: 0px;
    height: 62px;
    padding-left: 15px;
    color: $input;
}

.book_input--select:focus{
    border: 1px solid $yellow;
    background-color: #fff;
    outline: none;
}

.book__button{
    background-color: $yellow;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    width: 565px;
    height: 60px;
    font-size: 12px;
    font-weight: 700;
    transition: 0.2s;
}

.book__button:hover{
    box-shadow: 1px 0px 11px 6px rgba(0, 0, 0, 0.36);
    transition: 0.2s;
    cursor: pointer;
}

.book__info{
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.book__title{
    font-weight: 400;
    font-size: 36px;
    font-family: 'Acme', sans-serif;
}

