@media  (max-width: 360px) {
    body img{
        width: 300px;
    }    
    body .title__name{
        width: 100%;
    }

    body .book{
        width: 100%;
    }

    body .about{
        width: 100%;
    }

    body .title .title__name{
        width: 100%;
    }
}

@media  (max-width: 600px) {
    img{
        width: 330px;
    } 
    .header{
        .mobile-menu{
            display: flex;
        }
        .nav{
            display: none;
        }
    }   
}

@media (max-width: 1205px){
    .contact{
        width: 100%;
        .contact__form{
            flex-direction: column;
            .contact__input{
                width: 60%;
            }
        }
    }
    .book{
        width: 100%;
        .book__form{
            flex-direction: column;
            .book_input{
                width: 50%;
            }
        }
    }
}

@media (max-width: 1439px){
    header{
        .mobile-logo{
            display: flex;
        }
        .nav{
            .nav__item--logo{
                display: none;
            }
        }
    }
}
