$footer_color: rgba(255, 255, 255, 0.5);
$book-info: rgba(51, 51, 51, 0.5);
$yellow: #E8C300;
$black: rgba(0, 0, 0, 0.9);
$gray: #E5E5E5;
$input: #E5E5E5;

.specialties{
    background-image: url("image/specialties_bg.png");
    height: 675px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .specialties__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        height: 100px;
        letter-spacing: 0.5em;

    }
}

.specialties__content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    color: #FFF;
    gap: 80px;
    margin-bottom: 60px;
    .about__img{
        box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.2);
    }
};

.specialties__text{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    .specialties__title{
        word-wrap: break-word;
        text-align: center;
        font-weight: 400;
        font-size: 36px;
        font-family: 'Acme', sans-serif;
    };
    .line{
        background-color: $yellow;
        width: 60px;
        height: 5px;
        border-radius: 30px;
        margin-top: 20px
    };
    .specialties__description--bold{
        font-weight: 700;
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
    };
    .specialties__description--regular{
        font-weight: 400;
        margin-top: 25px;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
    };
}
